body {
    background-color: #FDFCF0;
    justify-content: center;

}

.centered {

        position: relative;
}


homepage-img {
    max-width: 85%;
    max-height: 85%;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }

    

.carousel-item {
    height: 45rem;
}

.carousel {
    margin-bottom: 4rem;
    position: relative;
}

.carousel-image {
    position: center;
    margin: 10px;
    height: 35rem;
    width: 35rem;
}

.text-end {

    text-align: right !important;
}

card-text-bold {

    color: blueviolet;
}


