body {
    background-color: #FDFCF0;
    justify-content: center;
}

.centered {

        position: relative;
      
}

h1, h2, h3, font {
    max-width: fit-content;
    color: #183F1A;
}



homepage-img {
    max-width: 85%;
    max-height: 85%;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
.card-img {
    max-width: 200px;
    max-height: 200px;
    border: 10px;
}

.card-img-top {
    max-height: 100px;
    max-width: fit-content;
    justify-content: center;
}

.home-img {
    size: 75%;
    position: relative;
}

.carousel-item {
    height: 500px;
}

.carousel {
    margin-bottom: 4rem;
    position: relative;
}

.carousel-image {
    position: center;
    width: 20rem;
    height: 20rem;
}

