body {
    background-color: antiquewhite;
}

img {
    max-width: 50%;
    max-height: 50%
    }

.h1 {
    max-width: fit-content;
    color: green;
}

.homepage-img {
    max-width: 99%;
    max-height: 99%;
}

.button-color {
    color: black;
}