body {
    background-color: #FDFCF0;
    justify-content: center;
}

h1 {
    max-width: fit-content;
    color: #183F1A;
}

homepage-img {
    max-width: 85%;
    max-height: 85%;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
.card-img {
    max-width: 200px;
    max-height: 200px;
    border: 10px;
}

.card-img-top {
    max-height: 100px;
    max-width: fit-content;
    justify-content: center;
}